// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

// main container styles.
.container {
  width: 90%;
  margin: 0 auto;
  font-family: $font-family--primary;
  background-color: $white;
  color: $base-gray;
  padding: 0 em(36px);
  line-height: 1.5;
}


// grid base class
.grid {

  // .grid__row
  &__row {
   margin-bottom: em(20px);
 
   // NOTE: replace with media query mixin if aiming for exceeds
    //@media (min-width: 768px) {
      @include mq(medium) {
          @include flex-display($just-cont: space-around); 
    }
  }

  // .grid__col
  &__col {
     // background color for grid using mixin.
    @include bg-colors($grid-colors);

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns 
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        
        width: 100%;
        border-radius: em(8px);
        margin-bottom: em(5px);
        padding: em(12px);



        // NOTE: replace with media query mixin if aiming for exceeds
       // @media (min-width: 768px) {
        @include mq(medium) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          //flex-basis: #{$i / 12 * 100 + "%"} ;
          flex-basis: cal-flex-basis($i, 12);
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    // @media (min-width: 768px) {
      @include mq(medium) {

      // add grid gutter
      margin-left: 10px;
    }
  }
}
/*To display buutns styles in rows : default button, success button etc for medium screen sizes and up..*/
.grid__col--12 {
  @include mq(medium) {
    @include flex-display($just-cont: space-around); 

    button {
      margin-left: 10px;
      flex-basis: cal-flex-basis(1, 5);
    } 
  }
}


